
<div class="cap">
    <%if(cap.title){%>
        <h3><%=cap.title%></h3>
    <%}%>
     <h2>id: <%=cap.id %></h2>
    <div style="padding: 5px">
        <input type="button" value="навигатор" onclick="navi(<%=cap.id %>)">
        <%if (locals.user){%>
        <input type="button" value="редактировать" onclick="location.href = '/edit?id=<%=cap.id%>'">
        <%}%>
    </div>
    <img src="<%=cap.path%>">
    <p>text: <%=cap.text %></p>
      <div id="navid<%=cap.id %>" class="navid">
        <%include navigator%>
      </div>
    </div>
