<div class="navigator">
  <h2>Навигатор</h2>
  <p id="dir<%=cap.id %>"></p>
  <p id="page<%=cap.id %>"></p>
  <p id="row<%=cap.id %>"></p>
  <p id="pos<%=cap.id %>"></p>


  <table id="page">
    <tbody>
    <% for(var i=1; i<=7; i++) {%>
    <tr>
      <% for(var j=1; j<=6; j++){%>
      <td id='id<%=cap.id %>r<%=i%>p<%=j%>' bgcolor="black" width="14" height="14"></td>
      <% } %>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>