<div class="pager">
  <%if(pages>1){%>
    <%var a=2,b=5%>
    <%if(page>1){%>
      <a href="<%=link%>?page=<%=page-1%>" ><-</a>
    <%}%>
    <% for(var i=1; i<=pages; i++) {%>
      <%if(i<a+1||i>pages-a||pages<=2*a+2+b||(page<(a+2+b/2)&&i<a+b+2)||(page>(pages-a-1-b/2)&&i>pages-a-b-1)){%>
        <%if(i==page){%>
            <p><%=i%></p>
        <%}else{%>
            <a href="<%=link%>?page=<%=i%>"><%=i%></a>
        <%}%>
      <%}else{%>
        <%if((page>=(a+2+b/2)&&i<page-2)||(i>(page*1)+2&&page<=(pages-1-b/2))){%>
            <%if(i==a+1||i==pages-a){%>
              <p>...</p>
            <%}%>
        <%}else{%>
          <%if(i==page){%>
            <p><%=i%></p>
          <%}else{%>
            <a href="<%=link%>?page=<%=i%>"><%=i%></a>
          <%}%>
        <%}%>
      <%}%>
    <%}%>
    <%if(page<pages){%>
      <a href="<%=link%>?page=<%=(page*1)+1%>">-></a>
    <%}%>
  <%}%>
</div>
